{
    "jsc": {
        "baseUrl": "./",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "decoratorsBeforeExport": true,
            "dynamicImport": true
        },
        "transform": {
            "decoratorMetadata": true
        },
        "target": "es2021",
        "loose": false,
        "keepClassNames": true,
        "paths": {
            "@lib/core": ["libs/core/src"],
            "@lib/core/*": ["libs/core/src/*"],
            "@lib/common": ["libs/common/src"],
            "@lib/common/*": ["libs/common/src/*"]
        }
    },
    "module": {
        "type": "commonjs"
    },
    "minify": false,
    "sourceMaps": true
}
